/* CSS ADICIONAL A LA LIBRERIA DE BOOTSTRAP */
/* En este documento se edita tanto el css específico de nuestra página como algunos detalles de las clases y el css que viene por defecto con Bootstrap */

/* Etiqueta body */
body {
    /* Imagen de fondo */
    background-image:url("img/sky.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 65px;
}

/* Navbar superior (clase de bootstrap) */
.navbar {
    /* Editar algunos detalles de la navbar superior de Bootstrap */
    font-size: 1.2em;
    font-weight: bold;
    word-spacing: 0.1em;
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Julius Sans One', sans-serif;    
}

/* Iconos glyphicons de Bootstrap */
.glyphicon {
    /* Hacer los glyphicons algo más pequeños (me parecían demasiado grandes en comparación con el texto) */
    font-size: 0.9em;
}

/* Container del menú de navegación lateral de la página de about */
.sidenav {
    padding: 5em;
}

/* Clases dentro de list-group usado para el menú de navegación lateral del about */
a.list-group-item {
    background-color: #0099FF;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    margin-top: 7px;
}

a.list-group-item:hover{
    background-color: #7BBEEB;
    color: #ffffff;
}

.list-group-item-heading {
    margin-top: 1em;
}

/* Clase well (de Bootstrap) usado en la parte derecha de la pagina de about */
.well {
    background-color: #000000;
    color: #ffffff;
}

/* Header de nivel 1 */
h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 0px 0px 5px #000000;
}

/* Header de nivel 2 */
h2 {
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 0px 0px 5px #000000;
}

/* Es el jumbotron que contiene el nombre del juego (su ID es 'logo') */
#logo {
    background: transparent;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
    padding: 10em 2em 5em 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Container que envuelve el contenido de la página (su ID es 'wrap') */
#wrap {
    /* Fondo de la seccion de contenido de la web */
    background-image: url("img/city.png");
    background-size:100% cover;    
    background-repeat: no-repeat;
    color: #ffffff;
    /* Margenes y padding para colocar el elemento en la pagina y definir su tamaño */
    padding-top: 40em;
    margin-top: 30em;
    min-block-size: 50em;
}

/* Div que contiene el formulario de login */
.login-box {
    max-width: 20em;
    display: block;
    margin: auto;
    color: #ffffff;
}

/* Botones del login box */
.btn-login-box {
    background-color: #0099FF;
    min-width: 30%;
    margin: 0px 5px 0px 5px;
}

/* Botones del login box cuando se les hace hover */
.btn-login-box:hover {
    background-color: #7BBEEB;
    color: #ffffff;
}

/* Campo de texto del login box */
.form-control {
    background-color: #000000;
    color: #ffffff;
}

/* Footer de la página */
footer {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    background-color: #222;
    border: solid 1px #080808;
    color: #464646;
    padding: 2em 5em 2em 5em;
}